.slaq {
    
    position: fixed;
    right: 25px;
    z-index: 99999;
    bottom: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px;
    color: #ffffff;
    background-image: linear-gradient(to right, #00a9ff 0%, #00caad 100%);
    position: fixed;
    right: 15px;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
    transition: .4s all ease-in;
}

.slaq-hide {
    transform: translateY(100px);
}

.slaq-show {
    transform: translateY(0);
}

